<html>

<head>
	<title>SQL Explorer</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
	<header>
		<nav class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container-fluid">
				<a href="#" class="navbar-brand">Dataclips</a>
			</div>
		</nav>
	</header>
	<main class="container-fluid pt-3">
		<form method="GET">
			<div class="mb-3">
				<textarea class="form-control" name="sql" style="height: 100px">{{ .SQL }}</textarea>
			</div>
			<div class="mb-3">
				<button class="btn btn-primary" value="submit">Query</button>
			</div>
		</form>
		{{ if .Results.Warning }}
		<div class="alert alert-danger" role="alert">
			{{ .Results.Warning }}
		</div>
		{{ end }}
		<table class="table">
			<thead>
				<tr>
					{{ range $header := .Results.Headers }}
					<th scope="col">{{ $header }}</th>
					{{ end }}
				</tr>
			</thead>
			<tbody>
				{{ range $row := .Results.Rows }}
				<tr>
					{{ range $col := $row }}
					<td>{{ toString $col }}</td>
					{{ end }}
				</tr>
				{{ end }}
			</tbody>
		</table>
	</main>
</body>

</html>